<section class="card">
  <a href="/blog/{{id}}">
    <header>{{blog.title}}</header>
  </a>
<span class="date"> Posted by {{blog.creator}} on {{format_date date_created}} </span>
  <div>
    <p> {{blog.content}} </p>
  </div>
</section>