<div class ="col"> 
  <h1> Your Dashboard</h1>
</div>

{{#each blogs as |blog| }}

  <a onClick= displayForm({{blog.id}}) class ="row mb-4 blog_posts">
 
    <div class="col-12">
    <h5> {{blog.title}} <span class="date" style="font-size:13px;display:flex;justify-content:flex-end"> {{format_date date_created}} </span> </h5> 
    </div>
  </a>
  <div id= {{blog.id}} style="display: none">   
    <form class="form edit-form">
      <h4 class="page-title">Edit Post</h4>
      <div class="form-group">
        <label for="post-title">Title</label><br>
        <input class="form-input" type="text" id="title" value="{{blog.title}}"/>
      </div>
      <div class="form-group">
        <label for="post-content">Content</label></div><br>
        <input class="form-input" type="text" id="content" value="{{blog.content}}"/><br>
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
        <button class="btn btn-primary update" type="submit" id="{{blog.id}}">Update</button>
         </div>
    </form>
    </div> 
{{/each}}


  <a href="/dashboard/new" id="button" style="font-size:13px;display:flex;justify-content:center;">
    <button class="btn btn-md btn-danger" style="font-size:15px;display:flex;" data-id="{{blog.id}}">Add New</button>
   </a>

<script>

    const displayForm = (id) =>{
     if (  document.getElementById(id).style.display == "block") {
       document.getElementById(id).style.display = "none";

     } else {
        document.getElementById(id).style.display = "block";
     }
    }
</script> 
  <script src="/js/delete.js"></script>